/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
bootstrap/compiled.php
app/storage/ # これはLaravel 4向けだが、念のため残すことも

# IDE and OS specific files
.idea/
.vscode/
.fleet/
.nova/
.zed/
Thumbs.db

# Other temporary or build files
build-*/
/public/build
/storage/pail
.phpactor.json
auth.json # これは認証情報が含まれる可能性があるので無視推奨
Homestead.json
Homestead.yaml
/.vagrant